{% extends 'categories/category_list_view.html' %}
{% load thumbnail i18n django_bootstrap_breadcrumbs %}

{% block header_message %}
    {% if homepage %}
        Homepage
    {% else %}
        Threads of {{ category.title }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if homepage %}
        {% clear_breadcrumbs %}
    {% endif %}
    {% url 'threads:detail-list' slug=category as thread_url %}
    {% breadcrumb "Threads" thread_url %}
{% endblock breadcrumbs %}

<!-- {{ category }} -->
{% block content %}
 {% if category %}
    {{category.title}}
 {% endif %}
    <ol class='thread-list' title='most recent threads {% if category.title %}from the category {{category.title}} {% endif %}' >
            <span class="screen-reader-text"> Press enter on a link to hear the details</span>
        {% for obj in object_list %}
        {% with obj.get_last_post as post %}
             <li class='thread-view'>
             <a href="{% url 'threads:detail' slug=obj.slug %}" class='show-thread-detail thread-detail-grid' onclick='getMoreUserInfo( this, event )'>
                  {# Post Creator. Minimal information to prevent clutter #}
                 <div class='user-preview top'>
                    <div class='user-image-display' >
                        <div class='thumbnail-image' style="background-image: url( {{ obj.starter.profile.avatar|thumbnail_url:'thread_list_avatar' }})"> </div>
                        <span class="dot green"> </span>
                    </div>
                        <div class='name-display'>
                        <span class="screen-reader-text">Started by </span> <span class="user-name"> {{ obj.starter.username }}</span>
                            <span class="screen-reader-text">who is currently online.</span>
                        <span class="screen-reader-text">Has as status </span><div class="user-description">
                           {{ obj.starter.profile.description }}</div>
                    </div>
                </div>
{#                  #}
{#                    <a href="{% url 'users:profile' slug=obj.starter.profile.slug %}"#}
{#                       class="d-flex justify-content-start col-2 col-md-2 col-lg-1 link">#}
{#                        <img src="{{ obj.starter.profile.avatar|thumbnail_url:'thread_list_avatar' }}"#}
{#                             class="rounded" style="max-height: 50px;">#}
{#                    </a>#}

                    {# High-level threadinformation #}

                      <div class='thread-view-content' itemscope itemtype='http://schema.org/DiscussionForumPosting'>
                    <h3> {{ obj.title }} </h3> in <h3><span class='category-name'>{{ obj.category }}</span></h3>
                      {% if obj.post_count > 0 %}
                        <ul class='thread-details'>

                                <li> {{ obj.post_count }} replies &#8226; </li>
                                <li> Last reply on <date> {{ post.get_date }}</date> by <span>{{ post.user.username }} </span> </li>



                        </ul>
                       {% else %}
                          <div> There have been no replies on this thread, yet.</div>
                       {% endif %}
                    </div>
                     {% endwith %}
{#                    <a href="{% url 'threads:detail' slug=obj.slug %}"#}
{#                       class="d-flex flex-column pl-1 col-7 mr-auto link">#}
{#                        <h4 class="mb-1">{{ obj.title }}</h4>#}
{#                        <small>{{ obj.category }}</small>#}
{#                    </a>#}
{##}
                    {# Latest poster information #}
{#                    {% with obj.get_last_post as post %}#}
{#                     <a href="{% url 'users:profile' slug=post.user.profile.slug %}" class="d-flex pl-3 link">#}
{#                         <img src="{{ post.user.profile.avatar|thumbnail_url:'thread_list_avatar' }}"#}
{#                              class="rounded"  style='max-height: 50px;'>#}
{#                         <div class="d-flex flex-column  pl-2">#}
{#                             <div>{{ post.user.username }}</div>#}
{#                            <small>{{ post.get_date }}</small>#}
{#                         </div>#}
{#                    </a>#}
{#                    {% endwith %}#}

                    {# Additional metrics #}
{#                    <div class="d-flex ml-auto align-items-end mb-2">#}
{#                        <i class="fa fa-comments pr-1" aria-hidden="true"></i>#}
{#                        <small> {{ obj.post_count }} {% trans 'replies' %} </small>#}
{#                    </div>#}

{#                </div>#}
             </a>
            </li>
        {% endfor %}

    <!-- {% include 'includes/pagination.html' %} -->

    </ol>
    {# Form is loaded anyways, so we have to ensure only authenticated users will see this. This is why backend checks #}
    {# Are of value, since this approach could be vulnerable to exploits #}
    {% if request.user.is_authenticated %}
           {% include 'threads/new_thread_form.html' with form=form %}
    {% endif %}
{% endblock content %}