{% extends 'categories/category_list_view.html' %}
 {% load thumbnail i18n django_bootstrap_breadcrumbs %}
  {% block header_message %} 
  {% if homepage %} Homepage {% else %} Threads of {{ category.title }} {% endif %} 
  {% endblock %} 
  {% block breadcrumbs%} {{ block.super }} {% if homepage %} {% clear_breadcrumbs %} {% endif %} {% url 'threads:detail-list' slug=category as thread_url %} {% breadcrumb "Threads" thread_url %} {% endblock breadcrumbs %}

<!-- {{ category }} -->
 {% block content %}  <!-- {% if category %} {{category.title}} {% endif %} -->
<ol class='thread-list' title='most recent threads {% if category.title %}from the category {{category.title}} {% endif %}'>
    <span class="screen-reader-text"> Press enter on a link to hear the details</span>
    {% for obj in object_list %} {% with obj.get_last_post as post %}
    <li class='thread-view'>
        <a id="{{obj.slug}}"href="{% url 'threads:detail' slug=obj.slug %}" class='show-thread-detail thread-detail-grid' onclick='getMoreUserInfo( this, event )'>
            {# Post Creator. Minimal information to prevent clutter #}
            <div class='user-preview top'>
                <div class='user-image-display'>
                    <div class='thumbnail-image' style="background-image: url( {{ obj.starter.profile.avatar|thumbnail_url:'thread_list_avatar' }})">
                    </div>
                    <span class="dot {% if obj.starter.profile.online %} green{% else %}red{% endif %}"></span>
                </div>
                <div class='name-display'>
                    <span class="screen-reader-text">Started by </span>
                    <span class="user-name"> {{ obj.starter.username }}</span>
                    <span class="screen-reader-text">who is currently online.</span>
                    <span class="screen-reader-text">Has as status </span>
                    <div class="user-description">
                        {{ obj.starter.profile.description }}</div>
                </div>
            </div>


            <div class='thread-view-content' itemscope itemtype='http://schema.org/DiscussionForumPosting'>
                <h2> {{ obj.title }} </h2> in
                <h3>
                    <span class='category-name'>{{ obj.category }}</span>
                </h3>
                {% if obj.post_count > 0 %}
                <ul class='thread-details'>

                    <li> {{ obj.post_count }} replies &#8226; </li>
                    <li> Last reply on
                        <date> {{ post.get_date }}</date> by
                        <span>{{ post.user.username }} </span>
                    </li>



                </ul>
                {% else %}
                <div> There have been no replies on this thread, yet.</div>
                {% endif %}
            </div>
        </a>
    </li>
            {% endwith %}
            {%endfor%}


</ol>
 {% endblock content %}