
{% load staticfiles i18n django_bootstrap_breadcrumbs thumbnail %}

{#{% block breadcrumbs %}#}
{# Referencing to the Category slug here as this is the reference the Master.html uses #}
{#    {% with object.category.slug as category %}#}
{#        {{ block.super }}#}
{#    {% endwith %}#}
{#    {% breadcrumb object.slug threads.views.ThreadListCreateView object.slug %}#}
{#{% endblock breadcrumbs %}#}
{##}
{#{% block header_message %}#}
{#    {% trans 'Thread:' %} {{ object.title }}#}
{#{% endblock header_message %}#}
{##}

<span id='url' style='display:none'> {% url 'threads:detail' slug=object.slug %} </span>


    <button id="testing">klik</button>
    <span class="screen-reader-text">You are currently viewing the thread</span>
    <h2> {{ object.title }} </h2>
    <span class="screen-reader-text">To go back, use shift + \ also known as (|) </span>

 
    <ul class='thread-messages'>
        {% for post in object.post_set.all %}
            {% include 'threads/thread_post_detail_view.html' with post=post %}
        {% endfor %}
    </ul>

    {% if request.user.is_authenticated %}
    <form action="{% if action %}{{ action }}{% else %}{% url 'threads:detail' slug=object.slug %}{% endif %}"
      enctype="multipart/form-data" method="post" class="pt-2" id="default-form">
      {% csrf_token %}
      {{ form }}
      <input class='btn btn-default' type="Submit" value="Submit">
    </form>
    {% endif %}

    {{ user }}
    {% if user.is_authenticated %}
        <!-- {% include 'threads/respond_to_thread.html' with form=form %} -->
   {% endif %}
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>
    console.log('heya')
    var threadSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/thread/{{ object.slug }}/');
{#     document.querySelector("#default-form").action =  'ws://' + window.location.host + '/ws/thread/{{ object.slug }}/';#}
       document.querySelector("#default-form").onsubmit = function (e) {
         threadSocket.send(JSON.stringify({
                'content': CKEDITOR.instances["id_content"].getData()
            }))

      console.log(document.querySelector("#default-form"))
           console.log(CKEDITOR.instances["id_content"].getData())
           e.preventDefault()
       }

{#    document.querySelector("#default-form").onsubmit = function(e){#}
{#        console.log('test')#}
{#        console.log(e)#}
{#        e.preventDefault()#}
{#    }#}
    threadSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data)
    };


    var testObj = document.getElementById("testing");
   testObj.onclick = function () {
       data = CKEDITOR.instances["id_content"].getData();
       threadSocket.send(JSON.stringify({
            'message': data
        }))
   }

</script>