
{% load staticfiles i18n django_bootstrap_breadcrumbs thumbnail %}

{#{% block breadcrumbs %}#}
    {# Referencing to the Category slug here as this is the reference the Master.html uses #}
{#    {% with object.category.slug as category %}#}
{#        {{ block.super }}#}
{#    {% endwith %}#}
{#    {% breadcrumb object.slug threads.views.ThreadListCreateView object.slug %}#}
{#{% endblock breadcrumbs %}#}
{##}
{#{% block header_message %}#}
{#    {% trans 'Thread:' %} {{ object.title }}#}
{#{% endblock header_message %}#}
{##}

<script src="{% static 'javascript/csrf.js' %}" > </script>
<span id='url' style='display:none'> {% url 'threads:detail' slug=object.slug %} </span>
<script src="{% static 'javascript/threads.js' %}"></script>
<script src="{% static 'javascript/main.js' %}" > </script>

    <span class="screen-reader-text">You are currently viewing the thread</span>
    <h3> {{ object.title }} </h3>
    <span class="screen-reader-text">To go back, use shift + \ also known as (|) </span>

   <div class="d-flex pb-2">
       <button class="btn btn-info ml-auto" id="post-btn">{% trans 'New post' %}</button>
   </div>
    <ul class='thread-messages'>
        {% for post in object.post_set.all %}
            {% include 'threads/thread_post_detail_view.html' with post=post %}
        {% endfor %}
    </ul>
    {{ request.user }}
    {% if request.user.is_authenticated %}
    <form action="{% if action %}{{ action }}{% else %}{% url 'threads:detail' slug=object.slug %}{% endif %}"
      enctype="multipart/form-data" method="post" class="pt-2" id="default-form">
      {% csrf_token %}
      {{ form }}
      <input class='btn btn-default' type="Submit" value="Submit">
    </form>
    {% endif %}

    <!-- {{ user.is_authenticated }}
    {% if user.is_authenticated %} -->
        <!-- {% include 'threads/respond_to_thread.html' with form=form %} -->
    <!-- {% endif %} -->

