{% load staticfiles %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}IFRAME Blog{% endblock title %}</title>
{#    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Droid Serif' rel='stylesheet' type='text/css'>
    {% block extra_css %}{% endblock %}
{#    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">#}
</head>

<body class="{% block body_class %} {% endblock body_class %}">
    {% include 'includes/navbar.html' %}
       <main role='main' id='main-content'>
      <header class="header">
         <h3>
         {% block header_message %}
             Homepage
         {% endblock %}
         </h3>
         <form class='query-form'>

            <button class='create-thread'> Make a thread </button>
        </form>
      {% block breadcrumbs %}
              {% breadcrumb "Home" "/" %}
      {% endblock breadcrumbs %}

    </header>


{#               {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}#}
      {% block content %}
      {% endblock content %}





    {# Dirty fix, just load Jquery if there is no form to be sure #}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
     <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


   </main>

      <section id='thread-content' class='thread-content' tabindex="0">

    </section>
         <script src="{% static 'javascript/csrf.js' %}" > </script>
         <script src="{% static 'javascript/main.js' %}" > </script>
     {% block jquery %}


    {% endblock jquery %}

</body>
</html>