{% extends 'master.html' %} {% load thumbnail %} {% load i18n %} 
 {% block main_class %} user-profile {% endblock %} {% block content %}
 <div class='user-preview top profile'>
        <div class='user-image-display'>
                <div class='profile-image' style="background-image: url( {{ object.user.profile.avatar|thumbnail_url:'profile_avatar' }})">
                </div>
                <span class="dot {% if object.online %}green{% else %}red{% endif %}"></span>
         
            </div>
            {% if not object.online %}<div> {% trans 'Last seen on' %} {{ object.user.last_login|date }}</div>{% endif %}
            <div class='name-display'>
                <span class="screen-reader-text">Started by </span>
                <span class="user-name profile"> {{ object.user.username }}</span>
                <span class="screen-reader-text">who is currently online.</span>
                <span class="screen-reader-text">Has as status </span>
                <div class="user-description profile">
                    {{ object.user.profile.description }}</div>
            </div>
        </div>
 {% block header_message %}

{% endblock %}

    <header class='profile header'> <h1> Users latest posts </h1> </header>
    {% for post in object.user.posts.all %}
    <div class='thread-view-content profile' ><a class="" onclick='getMoreUserInfo( this, event )' href="{% url 'threads:detail' slug=post.thread.slug %}#{{ post.id }}" >
        <header> 
                <h2>{{ post.thread.title }}</h2> in <h3>  <span class='category-name'>{{ post.thread.category }}</span></h3>
                <div>{{ post.get_date }}</div>  
        </header>
        <div> {{ post.content|safe  }}</div>
    </a>
    </div>
    {% endfor %}

<!-- <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
            <div class="d-flex flex-column" id="user-side-bar">
             <img src="{{ object.avatar|thumbnail_url:'profile_avatar' }}" class="rounded" style="max-width:170px;" >
                <b>{% if object.role %}
                    {{ object.role }}
                {% endif %}</b>
                <span style="max-width:170px;" class="badge mt-2 badge-pill {% if object.online %}badge-success{% else %}badge-danger{% endif %}">{{ object.online_status }}</span>
                {% if not object.online %}<div> {% trans 'Last seen on' %} {{ object.user.last_login|date }}</div>{% endif %}

                <div>{% trans 'Joined on' %} {{ object.user.date_joined|date }}</div>
                <div>{% trans 'Post count' %} {{ object.post_count }}</div>
                <div>{% trans 'started' %} {{ object.thread_count }}  {% trans 'threads' %}</div>
                {% if user.is_authenticated and object.user == user %}
                    <a href="{% url 'users:edit' slug=object.slug %}">
                    <button class="btn btn-info w-75" id="edit-user-profile"> {% trans 'Edit profile' %} </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-8 list-group pl-3" id="user-feed">
         <h1>{% trans 'User post Feed' %}</h1>
            {% for post in object.user.posts.all %}
                <a class="list-group-item list-group-item-action mt-4" href="{% url 'threads:detail' slug=post.thread.slug %}#{{ post.id }}" >
                     <div class="d-flex">
                         <div class="mr-3">{{ post.thread.title }}</div>
                         <div class="mr-3">{{ post.thread.category }}</div>
                         <div class="ml-auto">{{ post.get_date }}</div>
                     </div>
                  {{ post.content|safe }}
                </a>
            {% endfor %}
        </div>
        </div>
    </div> -->

{% endblock content %}