.circle-online {
	border-radius: 50%;
	width: 13px;
	height: 13px;
    background-color: #009926;
	/* width and height can be anything, as long as they're equal */
}

.circle-offline {
	border-radius: 50%;
	width: 13px;
	height: 13px;
    background-color: #a31311;
	/* width and height can be anything, as long as they're equal */
}

.list-group-item .link {color: #212529;}
.list-group-item .link:hover {
	color: #212529;
    text-decoration: underline;
}

.list-group-item .link-invisble {
    color: #212529;
}
.list-group-item .link-invisble:hover {
    color: #212529;
    text-decoration: none;
}
