{% if form_title %}
    <h4> {{  form_title }} </h4>
{% endif %}
<form action="{% if action %}{{ action }}{% else %}.{% endif %}"
      enctype="multipart/form-data" method="post" class="form-class" {% if onclick %} onclick='{{onclick}}' {%endif%} id="{% if action %}{{ action }}{%else%}default-form {%endif%}">
    {% csrf_token %}
    {% if forms %}
        {% for f in forms %}
            {% include 'includes/bs4-form.html' with form=f %}
        {% endfor %}
    {% else %}
      {% include 'includes/bs4-form.html' with form=form %}
    {% endif %}
   <input class='btn btn-default' type="Submit" value="Submit">
</form>